
 * --- ESTILOS GENERALES --- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}


section { 
   
    font-family: "Segoe UI", Arial, sans-serif;
    padding: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start; 
    gap: 30px; 
}

section p {
    font-size: 25px;
    margin-bottom: 10px;
    display: block;
    color: black; 
    background-color: transparent;
}

h2 {
    color: black; 
    text-align: center;
    font-size: 30px;
    background-color: transparent;
}

section > div:first-child {
    flex-grow: 1;
    flex-basis: 40%; 
    background-color: transparent;
}


.derecha {
    flex-grow: 1; 
    flex-basis: 60%; 
    text-align: center;
    background-color: transparent;
}

.derecha iframe {
    width: 100%; 
    max-width: 650px; 
    height: 350px;
    border: none;
    display: block; 
    margin: 10px auto 0 auto;
}

/* --- ESTILOS PARA LA TABLA DE CONTACTO --- */

.center {
    width: 80%;
    margin: 40px auto;
}



input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid black;
   
}

button {
    color: white;
    font-size: 23px;
    padding: 10px 20px;
    border: 1px solid white;
    cursor: pointer;
    background-color: black;
}

/* --- ADAPTACIÓN PARA MÓVILES  --- */

@media (max-width: 800px) {

  
    section {
        flex-direction: column;
        padding: 20px;
        align-items: stretch; 
    }

    
    .center {
        width: 95%;
        margin: 20px auto;
    }

    section p, tr {
        font-size: 18px;
    }

    h2 {
        font-size: 26px;
    }

   
    .derecha {
        flex-basis: auto;
    }

    .derecha iframe {
      
        height: 250px; /
    }

    
    section > div:first-child {
        flex-basis: auto;
    }
}