/*Menú Asiks*/

/* Ajusta el box-sizing para un control más fácil del layout */
* {
	box-sizing: border-box;
}

/* Elimina márgenes del body */
body {
	margin: 0;
}

/* Barra del menú móvil */
.nav-bar {
	background: black;
	padding: 20px;
	display: block;
	color: black;
	cursor: pointer;
	font-size: 1.5em;
	width: 100%;
}

/* Reseteo de listas */
.menu,
.submenu {
	list-style: none;
	padding: 0;
	margin: 0;
}

/* Contenedor principal del menú (versión móvil) */
.menu {
	background-color: black;
	transition: all 0.5s;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* Logo del menú */
.menu img {
	width: 90%;
	height: 50px;
	object-fit: contain;
}

/* Enlaces del menú */
.menu__link {
	display: block;
	padding: 20px;
	color: white;
	font-size: 1.2em;
	text-decoration: none;
}

/* Hover en enlaces */
.menu__link:hover {
	background: white;
	color: black;
}

/* Hover específico para submenú */
.submenu .menu__link:hover {
	background: white;
	color: black;
}

/* Submenús ocultos en móvil */
.submenu {
	height: 0;
	overflow: hidden;
	transition: all 0.3s;
}

/* Estilo de enlaces dentro del submenú */
.submenu .menu__link {
	background-color: rgba(0, 0, 0, 0.772);
	padding-left: 50px;
	color: white;
}

/* Clase usada para mostrar menú móvil */
.mostrar {
	margin-left: 0;
}

/* --- Versión escritorio --- */
@media(min-width:1024px) {

	/* Oculta hamburguesa */
	.nav-bar {
		display: none;
	}

	/* Menú horizontal */
	.menu {
		margin-left: 0;
		display: flex;
		justify-content: right;
		z-index: 200;
		height: auto;
		flex-direction: row;
		align-items: center;
		background-color: black;

		/* Animación al hacer scroll */
		animation: nav-scroll linear both;
		animation-timeline: scroll();
		animation-range: 0 200px;
	}

	/* Separa el logo del resto del menú */
	.logo-menu {
		margin-right: 58%;
	}

	/* Animación de cambio de color y sombra */
	@keyframes nav-scroll {
		to {
			background-color: rgba(0, 0, 0, 0.772);
			box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
		}
	}

	/* Separación entre ítems */
	li {
		margin-right: 20px;
	}

	/* Contenedor del submenú en escritorio */
	.container-submenu {
		position: relative;
	}

	/* Submenú desplegable */
	.submenu {
		position: absolute;
		top: 68px;
		width: 300px;
		overflow: visible;
		z-index: 1000;
		opacity: 0;
		visibility: hidden;
	}

	/* Muestra submenú al pasar el cursor */
	.container-submenu:hover .submenu {
		opacity: 1;
		visibility: visible;
	}
}
