* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    
}

section {
    font-family: "Segoe UI", Arial, sans-serif;
    background: #eef1f5;
    padding: 40px;
}

h1 {
    text-align: center;
    color: white;
    font-size: 2.2rem;
    margin-bottom: 50px;
    letter-spacing: 1px;
}
h2{
    color: white;
}

.card {
    background:white;
    width: 85%;
    max-width: 1100px;
    margin: auto;
    padding: 40px;
    border-radius: 50px;
   
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

}


* p {
    font-size: 1.1rem;
    color: white;
    margin-bottom: 0%;
}

.info strong {
    color: #1e88e5;
}


.mapa iframe {
    width: 500px;
    height: 600px;
    border: none;
    border-radius: 10px;

}


        
section {
    display: flex; 
    flex-direction: row;             

      display:flexbox
                   
    padding: 20px;
    justify-content: space-between;
}

section p {
    font-size: 25px;
    margin-bottom: 10px;
    display: block;
}
.derecha iframe {
    width: 650px;  
    height: 350px;
    border: none;
}
tr {
    color: white;
     font-size: 30px;


    }
    h2 {
        text-align: center;
        font-size: 30px;
    }
    button {
        color: white;
        font-size: 15px;

    }